html {
    background: #f2f2f2;
}
body {
    background: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #404040;
    line-height: 1.2;
    margin: 0 2em 0 2em;
    max-width: 750px;
    padding: 2em 2em 4em;
}
h1, h2{
    color: #1a1a1a;
    font-weight: 600;
    line-height: 1.5;
}