<section class="hero is-info is-bold">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
      <div class="row">
          <div class="col-md-6">
            <div style="display: block;">
              <body onload="predictor()">
              </body>
            <canvas baseChart width="400" height="400"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"></canvas>
            </div>
          </div>
        </div>
    </section>