<section class="hero is-info is-fullheight is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-white">Sign Up</h3>
          <form [formGroup]="registerForm" (ngSubmit)="register()"> 
            <div class="field">
              <div class="control">
                <input type="text" name="first-name" formControlName="user_first_name" [ngClass]="{ 'is-invalid': submitted && f.user_first_name.errors }" class="input is-large" placeholder="First Name" autofocus="">
                <div *ngIf="submitted && f.user_first_name.errors" class="invalide-feedback">
                  <div *ngIf="f.user_first_name.errors.required">Email is required...</div>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input type="text" name="last-name" formControlName="user_last_name" [ngClass]="{ 'is-invalid': submitted && f.user_last_name.errors }" class="input is-large" placeholder="Last Name" autofocus="">
                <div *ngIf="submitted && f.user_last_name.errors" class="invalide-feedback">
                  <div *ngIf="f.user_last_name.errors.required">Email is required...</div>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input type="email" name="email" formControlName="user_email" [ngClass]="{ 'is-invalid': submitted && f.user_email.errors }" class="input is-large" placeholder="Your Email" autofocus="">
                <div *ngIf="submitted && f.user_email.errors" class="invalide-feedback">
                  <div *ngIf="f.user_email.errors.required">Email is required...</div>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input type="password" name="password" formControlName="user_password" [ngClass]="{ 'is-invalid': submitted && f.user_password.errors }" class="input is-large" placeholder="Your Password">
                <div *ngIf="submitted && f.user_password.errors" class="invalide-feedback">
                  <div *ngIf="f.user_password.errors.required">Email is required...</div>
                </div>
              </div>
            </div>
            <div *ngIf="!loading" class="registerButtonSubmit">
              <button [disabled]="loading" type="submit" class="button is-danger is-large">Register</button>
            </div>
            <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
          </form>
        </div>
      </div>
    </div>
  </section>
