<section class="hero is-primary is-fullheight-with-navbar">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child box has-background-info">
            <p class="title has-text-light has-text-centered is-italic is-family-code">Our Best Picks</p>
            <p class="subtitle">The best games on Steam in terms of cost, replay value, and gameplay courtesy of the editors here at SaleWatch</p>
            <p>1. Game A</p>
            <p>2. Game B</p>
            <p>3. Game C</p>
            <p class="subtitle has-text-centered"> See More...</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box has-background-info">
            <p class="title has-text-light has-text-centered is-italic is-family-code">Most Watched</p>
            <p class="subtitle">The list of games the community is collectively keeping their eyes on for potential sales</p>
            <p>1. Game A</p>
            <p>2. Game B</p>
            <p>3. Game C</p>
            <p class="subtitle has-text-centered"> See More...</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box has-background-info">
            <p class="title has-text-light has-text-centered is-italic is-family-code">Best Value</p>
            <p class="subtitle">Games newly priced with the most percantage saved against prior value</p>
            <p>1. Game A</p>
            <p>2. Game B</p>
            <p>3. Game C</p>
            <p class="subtitle has-text-centered"> See More...</p>
          </article>
        </div>
      </div>
      <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box has-background-info">
              <p class="title has-text-light has-text-centered is-italic is-family-code">Biggest Discount</p>
              <p class="subtitle">Most dollar for dollar savings on the most popular games available on Steam</p>
              <p>1. Game A</p>
              <p>2. Game B</p>
              <p>3. Game C</p>
              <p class="subtitle has-text-centered"> See More...</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box has-background-info">
              <p class="title has-text-light has-text-centered is-italic is-family-code">Hottest Right Now</p>
              <p class="subtitle">The list of most downloaded games this week by the community collectively</p>
              <p>1. Game A</p>
              <p>2. Game B</p>
              <p>3. Game C</p>
              <p class="subtitle has-text-centered"> See More...</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box has-background-info">
              <p class="title has-text-light has-text-centered is-italic is-family-code">Upcoming Sales</p>
              <p class="subtitle">Want to know what we know? These are the games which we feel a big price cut could be coming soon</p>
              <p>1. Game A</p>
              <p>2. Game B</p>
              <p>3. Game C</p>
              <p class="subtitle has-text-centered"> See More...</p>
              
            </article>
          </div>
        </div>
</section>
  