<section class="hero is-info is-fullheight is-bold is-dark" *ngIf="gameList[0]">
  <div class="row" style = "background-color:rgb(60, 60, 60);">
    <div class="topnav">
      <a class="active" (click)="home()">Home</a>
      <a (click)="topSavings()">Top Savings</a>
      <a (click)="comingSoon()">Coming Soon</a>
      <a mat-button [matMenuTriggerFor]="menu">Categories</a>
      <mat-menu #menu="matMenu">
        <div *ngFor="let menu of menuList">
          <button mat-menu-item (click)="categories(menu)">{{menu}}</button>
        </div>
      </mat-menu>
    </div>
      <div class="column">
        <img src={{gameList[0].header_image}} (click)="moreInfo(gameList[0])" style="width:100%">
      </div>
      <div class="column">
        <img src={{gameList[1].header_image}} (click)="moreInfo(gameList[1])" style="width:100%">
     </div>
   </div>
   <div class="row" style = "background-color:rgb(60, 60, 60);">
      <div class="column">
        <img src={{gameList[2].header_image}} (click)="moreInfo(gameList[2])" style="width:100%">
      </div>
      <div class="column">
        <img src={{gameList[3].header_image}} (click)="moreInfo(gameList[3])" style="width:100%">
      </div>
   </div>
   <div class="row" style = "background-color:rgb(60, 60, 60);">
      <div class="column">
        <img src={{gameList[4].header_image}} (click)="moreInfo(gameList[4])" style="width:100%">
      </div>
      <div class="column">
        <img src={{gameList[5].header_image}} (click)="moreInfo(gameList[5])" style="width:100%">
       </div>
   </div>
</section>