<section class="hero is-info is-fullheight is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h1 class="title">
          SaleWatch 
          <br>
          Coming Soon
        </h1>
        <h2 class="subtitle">
          Get data on prices for your favorite games! We gather data on prices from multiple sources so you don't have to!
          <br>
        </h2>
        <div>
          <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input" type="search" placeholder="Search for a Game...">
            </p>
            <p class="control">
              <a class="button is-info">
                Search
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
