<section class="hero is-danger is-fullheight-with-navbar">
    <div class="hero-body ">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h1 class="title is-large ">
            Frequently Asked Questions
          </h1>
          <h2 class="subtitle">
            <b>1.What is ..........</b>
            <p>It is</p>
            <b>1.What is ..........</b>
            <p>It is</p>
            <b>1.What is ..........</b>
            <p>It is</p>
            <b>1.What is ..........</b>
            <p>It is</p>
            <b>1.What is ..........</b>
            <p>It is</p>
            <b>1.What is ..........</b>
            <p>It is</p>
            <b>1.What is ..........</b>
            <p>It is</p>
            <b>1.What is ..........</b>
            <p>It is</p>
            <b>1.What is ..........</b>
            <p>It is</p>
            <b>1.What is ..........</b>
            <p>It is</p>
            <b>1.What is ..........</b>
            <p>It is</p>
            <b>1.What is ..........</b>
            <p>It is</p>
          </h2>
        </div>
      </div>
    </div>
  </section>
  