<nav class="navbar is-dark">
    <div class="navbar-menu">
          <div clas="navbar-start">
                <div class="navbar-brand">
                      <a class = "navbar-item" routerLink="about-us">About Us</a>
                      <a class = "navbar-item" routerLink="faq">FAQ</a>
                      <a class = "navbar-item" routerLink="developer-guide">Developer Guide</a>
                      <a class = "navbar-item" routerLink="user-guide">User Guide</a>
                </div>
          </div>
    </div>
</nav>
      