<nav class="navbar is-dark">
  <div class="navbar-menu" style="width: 300px">
    <div class="navbar-start">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="">
          <img src="https://i.imgur.com/LsS7PWU.png">
        </a>
      </div>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" routerLink="register" *ngIf="!currentUser">Sign Up</a>
      <a class="navbar-item loginButton" routerLink="login" *ngIf="!currentUser">Login</a>
      <a class="navbar-item" routerLink="profile" *ngIf="currentUser">{{currentUser.user_first_name}}</a>
      <a class="navbar-item logoutButton" *ngIf="currentUser" (click)="logout()" routerLink="/">Logout</a>
    </div>
  </div>
</nav>
